  <div class="wrapper">
    <div class="section features-6">
      <div class="container">

<div class="table-responsive">   
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th>CNPJ</th>
      <th>Razão</th>
      <th>Fantasia</th>
			<th>Estado</th>
			<th>Ativo</th>
      <th scope="col">Email</th>
      <th scope="col" colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody>
  <% @clientes.each do |cliente| %>
    <tr>
    <th scope="row"><%= cliente.id %></th>
    <td><%= cliente.cnpj %></td>
    <td><%= cliente.razao_social %></td>
    <td><%= cliente.fantasia %></td>
    <td><%= cliente.estado %></td>
    <td><%= cliente.ativo %></td>
    <td><%= cliente.email %></td>
    <td><%= link_to 'Consultar', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Excluir', cliente, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<a href="/clientes/new" class="btn btn-primary">Novo</a>

      </div>
    </div>
    <div class="section features-1">
<div class="container">    
</div>
    </div>
    <br /><br />