<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table-sm table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cnpj</th>
      <th scope="col">Razao social</th>
      <th scope="col">Fantasia</th>
      <th scope="col">Estado</th>
      <th scope="col">Cep</th>
      <th scope="col">Fone1</th>
      <th scope="col">Fone2</th>
      <th scope="col">Email</th>
      <th scope="col">Ativo</th>
      <th scope="col">Plano</th>
      <th scope="col">Convenio</th>
      <th scope="col" colspan="3">ações</th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
    <tr>
      <th scope="row"><%= cliente.id %></th>
      <td> <span>CPNJ:</span><%= cliente.cnpj %></td>
      <td><%= cliente.razao_social %></td>
      <td><%= cliente.fantasia %></td>
      <td><%= cliente.estado %></td>
      <td><%= cliente.cep %></td>
      <td><%= cliente.fone1 %></td>
      <td><%= cliente.fone2 %></td>
      <td><%= cliente.email %></td>
      <td><%= cliente.ativo %></td>
      <td><%= cliente.plano.descricao %></td>
      <td><%= cliente.convenio_id %></td>
      <td><%= link_to 'Show', cliente %></td>
      <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
      <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Cliente', new_cliente_path %>