  <div class="wrapper">
    <div class="section features-6">
      <div class="container">
    
      <div class="table-responsive">   
      <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Ativo</th>
          <th scope="col" colspan="3">Ações</th>
        </tr>
      </thead>
      <tbody>
      <% @planos.each do |plano| %>
        <tr>
        <th scope="row"><%= plano.id %></th>
        <td><%= plano.descricao %></td>
        <td><%= plano.valor %></td>
        <td><%= plano.ativo %></td>
        <td><%= link_to 'Consultar', plano %></td>
        <td><%= link_to 'Editar', edit_plano_path(plano) %></td>
        <td><%= link_to 'Excluir', plano, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
        <% end %>
      </tbody>
      </table>
      </div>
      
      <a href="/planos/new" class="btn btn-primary">Novo</a>

      </div>
    </div>
    <div class="section features-1">
<div class="container">    
</div>
    </div>
    <br /><br />