<div class="wrapper">
<div class="section features-6">
  <div class="container">


    <%= form_with(model: estadia, local: true) do |form| %>
    <% if estadia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estadia.errors.count, "error") %> prohibited this estadia from being saved:</h2>

      <ul>
        <% estadia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            Código Usuário
            <%= form.text_field :usuario_id, id: :usuario_id, class: 'form-control form-control-sm', required: true, type: 'text' %>
          </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
          Código Vaga
          <%= form.text_field :vaga_id, id: :estadia_vaga_id, class: 'form-control form-control-sm', required: true, type: 'text' %>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            Código Veículo
            <%= form.text_field :veiculo_id, id: :estadia_veiculo_id, class: 'form-control form-control-sm', required: true, type: 'text' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            Código Cliente
            <%= form.text_field :cliente_id, id: :estadia_cliente_id, class: 'form-control form-control-sm', required: true, type: 'text' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            Data Entrada
            <%= form.text_field :data_entrada, id: :estadia_data_entrada, class: 'form-control form-control-sm', required: true, type: 'text' %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            Data Saída
            <%= form.text_field :data_saida, id: :estadia_data_saida, class: 'form-control form-control-sm', required: true, type: 'text' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            Valor
            <%= form.text_field :valor, id: :estadia_valor, class: 'form-control form-control-sm', required: true, type: 'text' %>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="actions form-group">
            <%= form.submit nil, class: 'btn btn-success' %>

            <a href="/estadias" class="btn btn-secondary">Voltar</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="section features-1">
  <div class="container">
  </div>
</div>
<br /><br />
<% end %>