<div class="wrapper">
    <div class="section features-6">
        <div class="container">
            <%= form_with(model: estadia, local: true) do |form| %>
            <% if estadia.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(estadia.errors.count, "error") %> prohibited this estadia from being saved:</h2>

                <ul>
                    <% estadia.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        Código Usuário
                        <%= form.collection_select :usuario_id, Usuario.all, :id, :nome, {}, {class: 'form-control form-control-sm'} %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        Código Vaga
                        <%= form.collection_select :vaga_id, Vaga.desocupadas, :id, :full_name, {}, {class: 'form-control form-control-sm'} %>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        Código Veículo
                        <%= select_tag "estadia[veiculo_id]", raw(Veiculo.get_options), class: 'form-control form-control-sm', required: true %>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        Código Cliente
                        <%= form.collection_select :cliente_id, Cliente.all, :id, :cnpj, {}, {class: 'form-control form-control-sm cliente-selection'} %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        Valor - R$ 5,50 + R$ 0,50 por hora
                        <%= form.text_field :valor, id: :estadia_valor, class: 'form-control form-control-sm', type: 'text' %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="actions form-group">
                        <%= form.submit nil, class: 'btn btn-success' %>

                        <a href="/estadias" class="btn btn-secondary">Voltar</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<% end %>