<div class="wrapper">
    <div class="section features-6">
        <div class="container">
            <h1>
                Listagem de Estadias
            </h1>
            <a href="/estadias/new" class="btn btn-primary">Criar nova estadia</a>
            <br />
            <br />
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th>Veiculo</th>
                            <th>Usuario</th>
                            <th>Cliente</th>
                            <th>Vaga</th>
                            <th>Data Entrada</th>
                            <th>Data Saída</th>
                            <th>Valor</th>
                            <th scope="col" colspan="4">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @estadia.each do |estadia| %>
                        <tr>
                            <th scope="row"><%= estadia.id %></th>
                            <td><%= estadia.veiculo.placa %></td>
                            <td><%= estadia.usuario.nome %></td>
                            <td><%= estadia.cliente.razao_social %></td>
                            <td><%= estadia.vaga.tipo %></td>
                            <td><%= estadia.data_entrada %></td>
                            <td><%= estadia.data_saida %></td>
                            <td><%= estadia.valor %></td>
                            <td>
                                <%- if(estadia.valor) %>
                                Já finalizado
                                <%- else %>
                                <%= link_to 'Finalizar', estadia_finalizar_path(estadia) %>
                                <%- end %>
                            </td>
                            <td><%= link_to 'Consultar', estadia_path(estadia) %></td>
                            <td><%= link_to 'Editar', edit_estadia_path(estadia) %></td>
                            <td><%= link_to 'Excluir', estadia_path(estadia), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>

                <a href="/estadias/new" class="btn btn-primary">Criar nova estadia</a>
            </div>
        </div>
    </div>
</div>