  <div class="wrapper">
    <div class="section features-6">
      <div class="container">


      <%= form_with(model: estadium, local: true) do |form| %>
        <% if estadium.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(estadium.errors.count, "error") %> prohibited this estadium from being saved:</h2>
      
            <ul>
            <% estadium.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

	  <form>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        Código Vaga
        <%= form.text_field :vagas_codvaga, id: :estadium_vagas_codvaga, class: 'form-control form-control-sm', required: true, type: 'text' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
	  Código Loja
    <%= form.text_field :loja_codestab, id: :estadium_loja_codestab, class: 'form-control form-control-sm', required: true, type: 'text' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        Código Veículo
        <%= form.text_field :veiculos_codveic, id: :estadium_veiculos_codveic, class: 'form-control form-control-sm', required: true, type: 'text' %>
      </div>
    </div>
	    <div class="col-md-3">
      <div class="form-group">
	  Código Cliente
    <%= form.text_field :clientes_codclie, id: :estadium_clientes_codclie, class: 'form-control form-control-sm', required: true, type: 'text' %>
      </div>
    </div>
    <div class="col-md-3">
    <div class="form-group">
  Data Entrada
  <%= form.text_field :data_entrada, id: :estadium_data_entrada, class: 'form-control form-control-sm', required: true, type: 'text' %>
    </div>
  </div>

  <div class="col-md-3">
  <div class="form-group">
Data Saída
<%= form.text_field :data_saida, id: :estadium_data_saida, class: 'form-control form-control-sm', required: true, type: 'text' %>
  </div>
</div>
					    <div class="col-md-6">
      <div class="form-group">
	  Valor
    <%= form.text_field :valor, id: :estadium_valor, class: 'form-control form-control-sm', required: true, type: 'text' %>
      </div>
    </div>

    
  </div>
  <div class="row">
  <div class="col-md-6">
  <div class="actions form-group">
  <%= form.submit nil, class: 'btn btn-success' %>

  <a href="/estadia" class="btn btn-secondary">Voltar</a>
  </div>
</div>
</div>
</form>
      </div>
    </div>
    <div class="section features-1">
<div class="container">    
</div>
    </div>
    <br /><br />
    <% end %>