  <div class="wrapper">
    <div class="section features-6">
      <div class="container">
    
      <table class="table table-sm">
<thead>
  <tr>
    <th scope="col">#</th>
    <th>CodLoja</th>
    <th>CodVeiculo</th>
    <th>CodCliente</th>
    <th>CodVaga</th>
    <th>Data Entrada</th>
    <th>Data Saída</th>
    <th>Valor</th>
    <th scope="col" colspan="3">Ações</th>
  </tr>
</thead>
<tbody>
<% @estadia.each do |estadium| %>
  <tr>
  <th scope="row"><%= estadium.id %></th>
  <td><%= estadium.loja_codestab %></td>
  <td><%= estadium.veiculos_codveic %></td>
  <td><%= estadium.clientes_codclie %></td>
  <td><%= estadium.vagas_codvaga %></td>
  <td><%= estadium.data_entrada %></td>
  <td><%= estadium.data_saida %></td>
  <td><%= estadium.valor %></td>
  <td><%= link_to 'Consultar', estadium %></td>
  <td><%= link_to 'Editar', edit_estadium_path(estadium) %></td>
  <td><%= link_to 'Excluir', estadium, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
  <% end %>
</tbody>
</table>

<a href="/estadia/new" class="btn btn-primary">Novo</a>

      </div>
    </div>
    <div class="section features-1">
<div class="container">    
</div>
    </div>
    <br /><br />