<p id="notice"><%= notice %></p>

<p>
  <strong>Vagas codvaga:</strong>
  <%= @estadia.vagas_codvaga %>
</p>

<p>
  <strong>Loja codestab:</strong>
  <%= @estadia.loja_codestab %>
</p>

<p>
  <strong>Usuarios:</strong>
  <%= @estadia.usuarios_id %>
</p>

<p>
  <strong>Veiculos codveic:</strong>
  <%= @estadia.veiculos_codveic %>
</p>

<p>
  <strong>Clientes codclie:</strong>
  <%= @estadia.clientes_codclie %>
</p>

<p>
  <strong>Data entrada:</strong>
  <%= @estadia.data_entrada %>
</p>

<p>
  <strong>Data saida:</strong>
  <%= @estadia.data_saida %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @estadia.valor %>
</p>

<%= link_to 'Edit', edit_estadia_path(@estadia) %> |
<%= link_to 'Back', estadia_path %>
