<p id="notice"><%= notice %></p>

<p>
  <strong>Vagas codvaga:</strong>
  <%= @estadium.vagas_codvaga %>
</p>

<p>
  <strong>Loja codestab:</strong>
  <%= @estadium.loja_codestab %>
</p>

<p>
  <strong>Usuarios:</strong>
  <%= @estadium.usuarios_id %>
</p>

<p>
  <strong>Veiculos codveic:</strong>
  <%= @estadium.veiculos_codveic %>
</p>

<p>
  <strong>Clientes codclie:</strong>
  <%= @estadium.clientes_codclie %>
</p>

<p>
  <strong>Data entrada:</strong>
  <%= @estadium.data_entrada %>
</p>

<p>
  <strong>Data saida:</strong>
  <%= @estadium.data_saida %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @estadium.valor %>
</p>

<%= link_to 'Edit', edit_estadium_path(@estadium) %> |
<%= link_to 'Back', estadia_path %>
