<p id="notice"><%= notice %></p>

<h1>Convenios</h1>

<table class="table-sm table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cnpj</th>
      <th scope="col">Razao social</th>
      <th scope="col">Fantasia</th>
      <th scope="col">Estado</th>
      <th scope="col">Cep</th>
      <th scope="col">Fone1</th>
      <th scope="col">Fone2</th>
      <th scope="col">Email</th>
      <th scope="col">Ativo</th>
      <th scope="col" colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @convenios.each do |convenio| %>
      <tr>
        <th scope="row"><%= convenio.id %></th>
        <td><%= convenio.cnpj %></td>
        <td><%= convenio.razao_social %></td>
        <td><%= convenio.fantasia %></td>
        <td><%= convenio.estado %></td>
        <td><%= convenio.cep %></td>
        <td><%= convenio.fone1 %></td>
        <td><%= convenio.fone2 %></td>
        <td><%= convenio.email %></td>
        <td><%= convenio.ativo %></td>
        <td><%= link_to 'Show', convenio %></td>
        <td><%= link_to 'Edit', edit_convenio_path(convenio) %></td>
        <td><%= link_to 'Destroy', convenio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Convenio', new_convenio_path %>