<p id="notice"><%= notice %></p>

<p>
  <strong>Cnpj:</strong>
  <%= @convenio.cnpj %>
</p>

<p>
  <strong>Razao social:</strong>
  <%= @convenio.razao_social %>
</p>

<p>
  <strong>Fantasia:</strong>
  <%= @convenio.fantasia %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @convenio.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @convenio.cep %>
</p>

<p>
  <strong>Fone1:</strong>
  <%= @convenio.fone1 %>
</p>

<p>
  <strong>Fone2:</strong>
  <%= @convenio.fone2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @convenio.email %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @convenio.ativo %>
</p>

<%= link_to 'Edit', edit_convenio_path(@convenio) %> |
<%= link_to 'Back', convenios_path %>
