<%= form_with(model: vaga, local: true) do |form| %>
  <% if vaga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaga.errors.count, "error") %> prohibited this vaga from being saved:</h2>

      <ul>
      <% vaga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quadra %>
    <%= form.text_field :quadra, id: :vaga_quadra %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :vaga_tipo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
