  <div class="wrapper">
    <div class="section features-6">
      <div class="container">
    
<div class="table-responsive">                  
<table class="table table-sm">
<thead>
  <tr>
    <th scope="col">#</th>
    <th>Nome</th>
    <th>CodCargo</th>
    <th scope="col" colspan="3">Ações</th>
  </tr>
</thead>
<tbody>
<% @usuarios.each do |usuario| %>
  <tr>
  <th scope="row"><%= usuario.id %></th>
  <td><%= usuario.nome %></td>
  <td><%= link_to 'Consultar', usuario %></td>
  <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
  <td><%= link_to 'Excluir', usuario, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>

<a href="/usuarios/new" class="btn btn-primary">Novo</a>

      </div>
    </div>
    <div class="section features-1">
<div class="container">    
</div>
    </div>
    <br /><br />